.container {
  height: 100vh;
  width: auto;
  display: flex;

  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
  width: fit-content;
}

.scores {
  display: flex;
  justify-content: space-between;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results {
  height: 20px;
  text-align: center;
  border: solid black;
}

.buttons {
  display: flex;
  gap: 5vw;
}

button {
  width: 10vw;
  min-width: fit-content;
}
